
* {

  margin: 0;
}

/* Header  */
header {
 background-color: #AF8FE9;
 color: rgb(223, 223, 223);
 text-align: center;
 margin-bottom: 1rem;
}
.navSelection {
  display: flex;
  justify-content: space-around;
  
}
.navSelection button {
  border: none;
  background: none;
  border-radius: 1rem;
  padding: .5rem;
  font-size: 1rem;
  
  margin: .5rem 1rem;
}

.navSelection button{
  border: none;
  background: none;
  border-radius: 1rem;
  padding: .5rem;
  font-size: 1rem;
  color: white;
  margin: .5rem 1rem;
}

.navSelection button:hover{
  background-color: white;
  color: black;
}



@media (min-width: 62rem) {
  .navSelection {
    display: flex;
    justify-content: flex-end;
  }
}